<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <p class="h1">Hồ sơ của bạn</p>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm?.dirty == true" class="alert alert-info">
        <strong>Chú ý:</strong> Bạn có sự thay đổi. Mọi sự thay đổi không lưu sẽ bị mất.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" [src]="photoUrl" [alt]="user?.knownAs" />
        <div class="card-body">
          <div>
            <strong>Địa điểm</strong>
            <p>{{user?.city}}, {{user?.country}}</p>
          </div>
          <div>
            <strong>Tuổi</strong>
            <p>{{user?.age}}</p>
          </div>
          <div>
            <strong>Tham gia từ</strong>
            <p>{{user?.created | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="!editForm?.dirty" form="editForm" class="btn btn-success btn-block">Lưu thay đổi</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card card-right">
        <ngb-tabset class="member-tabset">
          <ngb-tab title="Sửa hồ sơ">
            <ng-template ngbTabContent>
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                <h4>Mô tả</h4>
                <textarea rows="6" class="form-control" name="introduction" [(ngModel)]="user.introduction"></textarea>
                <h4>Đang tìm kiếm</h4>
                <textarea rows="6" class="form-control" name="lookingFor" [(ngModel)]="user.lookingFor"></textarea>
                <h4>Sở thích</h4>
                <textarea name="interests" rows="6" class="form-control" [(ngModel)]="user.interests"></textarea>
                <h4>Địa điểm chi tiết:</h4>
                <div class="form-inline">
                  <label for="city">Thành phố</label>
                  <input type="text" class="form-control" name="city" [(ngModel)]="user.city" />
                  <label for="city">Đất nước</label>
                  <input type="text" class="form-control" name="country" [(ngModel)]="user.country" />
                </div>
              </form>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Sửa ảnh">
            <ng-template ngbTabContent>
              <app-photo-editor [photos]="user.photos"></app-photo-editor>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>